.report-form {
  max-width: 900px;
  /* Adjust the width as needed */
  /* height: 500px; */
  margin: 20px auto;
  padding: 50px;
  background: #fff;
  /* Assuming a white background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Soft shadow around the form */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  /* Make labels bold */
}

.form-group {
  margin-bottom: -15px;
  /* height: 100px; */
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="file"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  /* Spacing below inputs */
  border: 1px solid #ccc;
  /* Light grey border */
  border-radius: 4px;
  /* Rounded corners */
}

.error {
  color: red;
  margin-top: -15px;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

/* Style the file input button */
.form-group input[type="file"] {
  padding: 0;
}

.form-group textarea {
  height: 120px;
  /* Fixed height for textareas */
}

/* Grid layout for multi-column form elements */
.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Two columns of equal width */
  grid-gap: 20px;
  /* Spacing between columns */
}

/* Adjust the date picker icon alignment */
.form-group input[type="date"]::after {
  content: '\1F4C5';
  padding-left: 5px;
}

/* Style the button */
button {
  background-color: #007bff;
  /* Bootstrap primary blue */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  /* Larger font size for the button */
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}